body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(21, 63, 250));
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 10px ;
    color: white;
}
.inputBox{
    position: relative;
}
.inputClient{
    padding: 10px;
    border: none;
    color: rgb(119, 119, 119);
    outline: none;  
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 5px;
    left: 5px;
    pointer-events: none;
    transition: .5s;
    color: rgb(119, 119, 119);
}
.inputClient:focus ~ .labelInput, .inputClient:valid ~ .labelInput
{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}